---
import Button from "@components/Button.astro";
import { IconArrowRightUp } from "@components/Icons";
import ParallaxSection from "@components/ParallaxSection";
// import ParallaxSection from "@components/ParallaxSection.astro";
import WrapperSection from "@components/WrapperSection.astro";
import MainLayout from "@layouts/MainLayout.astro";

const itemList = [
  {
    title: "Handleless island 1",
    image: "/images/kursi-1.jpg",
    price: "€2,671",
  },
  {
    title: "Handleless island 2",
    image: "/images/kursi-2.jpg",
    price: "€2,671",
  },
  {
    title: "Handleless island 3",
    image: "",
    price: "€2,671",
  },
  {
    title: "Handleless island 4",
    image: "/images/sofa-1.jpg",
    price: "€2,671",
  },
];

const wrap1 = {
  title: "Our most popular setup for only €2,671",
  description:
    "The handleless island (small) measures 240x100cm and is our most popular configuration. Customize it completely to your liking. Not what you're looking for? Scroll down for more popular configurations.",
  btnText: "start with this setup",
  btnPath: "/shop/cabinet",
  image: "/images/kursi-1.jpg",
};

const wrap2 = {
  title: "Our most popular setup for only €2,671",
  description:
    "The handleless island (small) measures 240x100cm and is our most popular configuration. Customize it completely to your liking. Not what you're looking for? Scroll down for more popular configurations.",
  btnText: "start assembling",
  btnPath: "/shop/",
  image: "",
};
---

<MainLayout pageTitle="Home">
  <!-- Hero -->
  <h1
    class="md:max-w-4xl mx-auto text-xl md:text-6xl text-center font-semibold mt-14"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, iste!
  </h1>

  <div class="flex justify-center mx-auto mt-12">
    <Button text="View popular lineups" path="/shop/popular" />
  </div>

  <!-- Opener -->
  <section class="max-w-7xl mt-20 mx-auto px-4 md:px-8">
    <WrapperSection {...wrap1} />
    <div
      class="mt-12 hidden md:flex items-center gap-x-1 group ml-auto w-fit text-amber-900 text-sm font- tracking-tighter"
    >
      <div
        class="after:content-[''] after:border-b-2 after:block after:transition-all after:duration-300 after:scale-x-100 after:origin-center hover:after:scale-x-[2%]"
      >
        <button class="group-hover:cursor-pointer"
          >discover more popular setups</button
        >
        <span
          class="rotate-[135deg] inline-flex transform transition-all translate-y-1 group-hover:translate-y-1.5"
        >
          <IconArrowRightUp />
        </span>
      </div>
    </div>
  </section>

  <!-- Running Text -->
  <div
    class="overflow-hidden whitespace-nowrap text-stone-500 text-sm py-4 my-12 border-t border-b border-stone-500"
  >
    <div
      class="inline-block animate-marquee space-x-12 md:space-x-36 min-w-full"
    >
      <span>5 years guarantee</span>
      <span>4.8/5 rating</span>
      <span>Clear production times</span>
      <span>Real life on display in our store</span>
      <span>5 years guarantee</span>
      <span>4.8/5 rating</span>
      <span>Clear production times</span>
      <span>Real life on display in our store</span>
    </div>
  </div>

  <section class="max-w-7xl mx-auto px-4 md:px-8">
    <!-- Popular Items -->
    <!-- Header -->
    <div class="grid grid-cols-1 md:grid-cols-2">
      <h2 class="text-3xl md:text-6xl font-semibold">More popular setup</h2>
      <div class="flex justify-start md:justify-end items-center">
        <div
          class="max-w-60 flex md:justify-center items-center gap-4 h-8 md:h-12 text-stone-400 mt-10 md:mt-0"
        >
          <img src="/dummy-logo.png" alt="" class="h-full grayscale" />
          <p class="text-xs md:text-sm">
            Standard five-year warranty on all our kitchen cabinets
          </p>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12">
      {
        itemList.map((item) => (
          <a
            href={`/shop/${item.title}`}
            class="hover:cursor-pointer md:even:mt-4"
          >
            <div class="shadow-lg overflow-hidden aspect-[3/2] rounded-lg">
              {item.image !== "" ? (
                <img
                  src={item.image}
                  alt={item.title}
                  class="w-full h-full object-center object-cover hover:scale-[102%] transition-all duration-300 "
                />
              ) : (
                <div class="aspect-[3/2] w-full h-full object-cover hover:scale-[102%] transition-all duration-300 rounded-lg bg-stone-300">
                  <span class="flex justify-center items-center h-full font-bold">
                    No image
                  </span>
                </div>
              )}
            </div>
            <div class="mt-2 ml-1 text-stone-700">
              <p class="font-semibold text-sm">{item.title}</p>
              <p class="font-semibold leading-5 text-lg">{item.price},-</p>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Option -->
    <div class="mt-24 h-3/4">
      <WrapperSection {...wrap2} />
    </div>
  </section>

  <!-- Parallax -->
  <div class="relative h-[110dvh] my-20">
    <div class="absolute h-full w-full overflow-hidden">
      <!-- Background image  -->
      <ParallaxSection client:load image="/images/sofa-3.jpg" />

      <div class="absolute inset-0 bg-black/45"></div>
    </div>

    <!-- Text content -->
    <div class="relative h-[110dvh] flex items-center px-4 md:px-8">
      <div class="w-4/5 md:w-1/3">
        <h2 class="text-5xl md:text-6xl font-semibold text-white">
          Visit Our Showroom
        </h2>
        <p class="font-medium text-white text-lg mt-24">
          If you can't find what you're looking for online, you can also
          schedule an appointment with one of our kitchen experts. They will
          then reserve time to assist you and help you fill your shopping cart.
        </p>
        <div class="mt-16">
          <Button text={"make an appointment"} path={"/#"} />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
