---
import Button from "@components/Button.astro";
import { IconArrowRightUp } from "@components/Icons";
import MainLayout from "@layouts/MainLayout.astro";

const itemList = [
  {
    title: "Handleless island 1",
    image: "/images/kursi-1.jpg",
    price: "€2,671",
  },
  {
    title: "Handleless island 2",
    image: "/images/kursi-2.jpg",
    price: "€2,671",
  },
  {
    title: "Handleless island 3",
    image: "",
    price: "€2,671",
  },
  {
    title: "Handleless island 4",
    image: "/images/sofa-1.jpg",
    price: "€2,671",
  },
];
---

<MainLayout pageTitle="Home">
  <!-- Hero -->
  <h1
    class="md:max-w-4xl mx-auto text-xl md:text-6xl text-center font-semibold mt-14"
  >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, iste!
  </h1>

  <div class="flex justify-center mx-auto mt-12">
    <Button text="View popular lineups" path="/shop/popular" />
  </div>

  <!-- Opener -->
  <section class="max-w-7xl mt-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div
        class="self-center order-last md:order-first space-y-4 w-full md:w-3/4"
      >
        <h2 class="text-3xl md:text-6xl font-semibold">
          Our most popular setup for only €2,671
        </h2>
        <p class="font-medium">
          The handleless island (small) measures 240x100cm and is our most
          popular configuration. Customize it completely to your liking. Not
          what you're looking for? Scroll down for more popular configurations.
        </p>
        <Button text="start with this setup" path="/shop/cabinet" />
      </div>
      <div class="shadow-lg">
        <img
          src="/images/kursi-1.jpg"
          alt="Kursi 1"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    </div>
    <div
      class="mt-12 hidden md:flex items-center gap-x-1 group ml-auto w-fit text-amber-900 text-sm font- tracking-tighter"
    >
      <div
        class="after:content-[''] after:border-b-2 after:block after:transition-all after:duration-300 after:scale-x-100 after:origin-center hover:after:scale-x-[2%]"
      >
        <button class="group-hover:cursor-pointer"
          >discover more popular setups</button
        >
        <span
          class="rotate-[135deg] inline-flex transform transition-all translate-y-1 group-hover:translate-y-1.5"
        >
          <IconArrowRightUp />
        </span>
      </div>
    </div>
  </section>

  <!-- Running Text -->
  <div
    class="overflow-hidden whitespace-nowrap text-stone-500 text-sm py-4 my-12 border-t border-b border-stone-500"
  >
    <div class="inline-block animate-marquee space-x-36 min-w-full">
      <span>5 years guarantee</span>
      <span>4.8/5 rating</span>
      <span>Clear production times</span>
      <span>Real life on display in our store</span>
      <span>5 years guarantee</span>
      <span>4.8/5 rating</span>
      <span>Clear production times</span>
      <span>Real life on display in our store</span>
    </div>
  </div>

  <section class="max-w-7xl">
    <!-- Popular Items -->
    <!-- Header -->
    <div class="grid grid-cols-1 md:grid-cols-2">
      <h2 class="text-3xl md:text-6xl font-semibold">More popular setup</h2>
      <div class="flex justify-start md:justify-center items-center">
        <div
          class="max-w-60 flex md:justify-center items-center gap-4 h-8 md:h-12 text-stone-400 my-4 md:my-10"
        >
          <img src="/dummy-logo.png" alt="" class="h-full grayscale" />
          <p class="text-xs md:text-sm">
            Standard five-year warranty on all our kitchen cabinets
          </p>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-12">
      {
        itemList.map((item) => (
          <a
            href={`/shop/${item.title}`}
            class="hover:cursor-pointer md:even:mt-4"
          >
            <div class="shadow-lg overflow-hidden aspect-[3/2] rounded-lg">
              {item.image !== "" ? (
                <img
                  src={item.image}
                  alt={item.title}
                  class="w-full h-full object-center object-cover hover:scale-[102%] transition-all duration-300 "
                />
              ) : (
                <div class="aspect-[3/2] w-full h-full object-cover hover:scale-[102%] transition-all duration-300 rounded-lg bg-stone-300">
                  <span class="flex justify-center items-center h-full font-bold">
                    No image
                  </span>
                </div>
              )}
            </div>
            <div class="mt-2 ml-1 text-stone-700">
              <p class="font-semibold text-sm">{item.title}</p>
              <p class="font-semibold leading-5 text-lg">{item.price},-</p>
            </div>
          </a>
        ))
      }
    </div>

    <!-- Option -->
    <div class="mt-24 h-3/4">
      <div class="flex gap-8">
        <div
          class="self-center order-last md:order-first space-y-4 w-full md:w-2/3"
        >
          <h2 class="text-3xl md:text-6xl font-semibold">
            Would you rather put it together yourself from the start?
          </h2>
          <p class="font-medium">
            Our online kitchen configurator is specially designed to unleash
            your creativity. Whether you're technically savvy or not, this tool
            makes it easy to put together all the necessary components.
          </p>
          <Button text="start assembling" path="/shop/cabinet" />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
