---
import Button from "@components/Button.astro";

const { title, description, btnText, btnPath, image } = Astro.props;

interface Props {
  title: string;
  description: string;
  btnText: string;
  btnPath: string;
  image: string;
}
---

<div
  class:list={[
    "grid grid-cols-1 gap-8",
    image !== "" ? "md:grid-cols-2" : "md:w-3/4",
  ]}
>
  <div class="self-center order-last md:order-first space-y-4 w-full md:w-3/4">
    <h2 class="text-3xl md:text-6xl font-semibold">
      {title}
    </h2>
    <p class="font-medium">
      {description}
    </p>
    <Button text={btnText} path={btnPath} />
  </div>
  <div class:list={[image === "" ? "hidden" : "shadow-lg"]}>
    <img
      src={image}
      alt="Kursi 1"
      class="w-full h-full object-cover rounded-lg"
    />
  </div>
</div>
